@import '@/assets/styles/_global.scss';

.DoExercise {
  max-width: 120rem;
  margin: auto;
  padding: 3.2rem 4.8rem;
  border-radius: 2.4rem;
  box-shadow: $box-shadow-3;
  background: $white;
  min-height: calc(100vh - 2.4rem * 2 - 6.5rem);

  @media (max-width: 991px) {
    padding: 3.2rem 2.4rem;
  }

  &.is-doing {
    max-width: none;
    margin: -2.4rem;
    padding: 0;
    border-radius: 0;
    box-shadow: none;
    background: transparent;
    min-height: calc(100vh - 6.5rem);

    .LessonPreview {
      height: calc(100vh - 6.5rem);
    }
  }
}
