@import '@/assets/styles/_global.scss';

.Login {
  &-header {
    margin-bottom: 2.4rem;
  }

  &-line {
    position: relative;
    height: 1px;
    background: $geyser;
    width: 80%;
    margin: 0.8rem auto;
    white-space: nowrap;

    span {
      @include centerAbsolute;
      padding: 0.4rem 0.8rem;
      font-size: 1.4rem;
      color: $shark;

      strong {
        position: relative;
        z-index: 2;
      }

      &::before {
        width: 100%;
        content: '';
        height: 1px;
        background: $white;
        @include centerAbsolute;
      }
    }
  }

  &-title {
    font-size: 2.4rem;
    color: $shark;
    text-align: center;
    font-weight: 600;
  }

  &-description {
    font-size: 1.4rem;
    color: $pale-sky;
    text-align: center;
  }

  &-social-btn {
    .ant-btn {
      span {
        flex: 1;
      }
    }
  }
}
