@import '@/assets/styles/_global.scss';

.HelpBadge {
  position: relative;
  padding: 1.6rem;
  border-radius: 1.2rem;
  border: 1px solid transparent;
  font-size: 1.4rem;
  font-weight: 700;
  column-gap: 0.8rem;

  &.WARNING {
    border-color: $sunglow;
    color: $shark;
    background: rgba($sunglow, 0.1);
  }

  &.DANGER {
    border-color: $alizarin-crimson;
    color: $shark;
    background: rgba($alizarin-crimson, 0.1);
  }

  &.INFO {
    border-color: $curious-blue;
    color: $shark;
    background: rgba($curious-blue, 0.1);
  }

  .Icon {
    width: 2.4rem;
    height: 2.4rem;
    flex: 0 0 2.4rem;
    max-width: 2.4rem;
    margin-top: -.2rem;
  }
}
