/*
- Please follow this tool to name your color, then please define the color in src/common-types/ui.ts also
  https://chir.ag/projects/name-that-color/#6195ED

- If colors same name, please add suffix. Ex: persian-blue, persian-blue-dark, persian-blue-light, ...
*/

$white: #ffffff;
$black: #000000;

$geraldine: #e77986;
$pink: #ffbcc4;
$mystic: #dae1ea;
$geyser: #d6dee6;

$shark: #252b2f;
$pale-sky: #666e7e;
$sunglow: #ffca3a;
$alizarin-crimson: #e2222e;
$mountain-meadow: #0ebe75;
$curious-blue: #3498db
